table.minkFiles { padding: 5px; }
table.minkFiles tr td { padding: 0px 5px 0px 5px; }
table.minkFiles img { width: 20px; height: 20px; }
table.minkFiles span.name { font-size: 0.8em; }
table.minkFiles span.size { font-size: 0.8em; color: #555; }

div.minkThumbs { }
div.minkThumbs a {
	display: inline-block;
	vertical-align: bottom; 
	background: rgba(0,0,0, 0.3);
	padding: 5px;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 10px;
	margin-right: 10px;
	-webkit-transition: background 0.2s ease-out;
	-moz-transition: background 0.2s ease-out;
	-ms-transition: background 0.2s ease-out;
	-o-transition: background 0.2s ease-out;
	transition: background 0.2s ease-out;
}
div.minkThumbs a.unsaved { background: rgba(255,0,0, 0.3); }
div.minkThumbs a:hover { background: rgba(0, 130, 0, 0.3); }
div.minkThumbs img { height: 80px; border: 1px solid rgba(0, 0, 0, 0.3); border-radius: 4px; }

div.minkThumbs div.processing {
	background: white;
	border: 1px solid rgba(0, 0, 0, 0.3); border-radius: 4px;
	height: 80px; width: 80px;
	padding: 30px;
	text-align: center;
	background: #fcfff4; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#dfe5d7), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
}

div.minkThumbs .loading {
  display: inline-block;
  background-image: url(data:image/gif;base64,R0lGODlhEAALAPQAAP///wAAANra2tDQ0Orq6gYGBgAAAC4uLoKCgmBgYLq6uiIiIkpKSoqKimRkZL6+viYmJgQEBE5OTubm5tjY2PT09Dg4ONzc3PLy8ra2tqCgoMrKyu7u7gAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCwAAACwAAAAAEAALAAAFLSAgjmRpnqSgCuLKAq5AEIM4zDVw03ve27ifDgfkEYe04kDIDC5zrtYKRa2WQgAh+QQJCwAAACwAAAAAEAALAAAFJGBhGAVgnqhpHIeRvsDawqns0qeN5+y967tYLyicBYE7EYkYAgAh+QQJCwAAACwAAAAAEAALAAAFNiAgjothLOOIJAkiGgxjpGKiKMkbz7SN6zIawJcDwIK9W/HISxGBzdHTuBNOmcJVCyoUlk7CEAAh+QQJCwAAACwAAAAAEAALAAAFNSAgjqQIRRFUAo3jNGIkSdHqPI8Tz3V55zuaDacDyIQ+YrBH+hWPzJFzOQQaeavWi7oqnVIhACH5BAkLAAAALAAAAAAQAAsAAAUyICCOZGme1rJY5kRRk7hI0mJSVUXJtF3iOl7tltsBZsNfUegjAY3I5sgFY55KqdX1GgIAIfkECQsAAAAsAAAAABAACwAABTcgII5kaZ4kcV2EqLJipmnZhWGXaOOitm2aXQ4g7P2Ct2ER4AMul00kj5g0Al8tADY2y6C+4FIIACH5BAkLAAAALAAAAAAQAAsAAAUvICCOZGme5ERRk6iy7qpyHCVStA3gNa/7txxwlwv2isSacYUc+l4tADQGQ1mvpBAAIfkECQsAAAAsAAAAABAACwAABS8gII5kaZ7kRFGTqLLuqnIcJVK0DeA1r/u3HHCXC/aKxJpxhRz6Xi0ANAZDWa+kEAA7AAAAAAAAAAAA);
  width: 16px; 	height: 10px;
  background-position: center center;
  background-repeat: no-repeat;
}

div.minkProfileWrapper {
	position: relative;
}

div.minkProfileWrapper > a {
	position: absolute; top: 0, left: 0;
	padding: 10px; background: rgba(0,0,0,0.7);
	color: white; text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	visibility: hidden;
}
div.minkProfileWrapper:hover > a {
	visibility: visible;
}


div.minkProfileWrapper > img {
	border: 1px solid black; border-radius: 5px;
}
